<td>{{car.id}}</td>
<td>{{car.make}}</td>
<td>{{car.model}}</td>
<td>{{car.year}}</td>
<td>{{car.color}}</td>
<td>{{car.price}}</td>
<td>
  <button (click)="doEdit()">Edit</button>
  <button (click)="deleteCar.emit(car.id)">Delete</button>
</td>
