<header>
  <h1>Car Tool - Car Home Component</h1>
</header>
<ul>
  <li><a routerLink="/table">Car Table</a></li>
  <li><a routerLink="/view/1">Car View 1</a></li>
</ul>
<router-outlet></router-outlet>
