<form [formGroup]="calcForm">

  <div>
    Result: {{result$ | async}}
  </div>

  <div>
    <label for="num-input">
      Num Input:
    </label>
    <input type="number" id="num-input" formControlName="numInput">
  </div>

  <div>
    <button type="button" (click)="doAdd()">+</button>
    <button type="button" (click)="doSubtract()">-</button>
    <button type="button" (click)="doClear()">Clear</button>
  </div>

</form>
<ul>
  <li *ngFor="let entry of history$ | async">{{entry}}</li>
</ul>
<div>
  Entries Logged: {{historyLength$ | async}}
</div>
