<tool-header headerText="Color Tool"></tool-header>
<unordered-list [items]="colors$ | async"
  (deleteItem)="doDeleteColor($event)"
  (deleteAllItems)="doDeleteAllColors()"
  (moveItemUp)="doMoveColorUp($event)"
  (moveItemDown)="doMoveColorDown($event)"
  (toggleItem)="doToggleFavoriteColor($event)">
</unordered-list>
<fav-items pluralItemName="Colors"
           [items]="favColors$ | async"></fav-items>
<color-form
  buttonText="Add Color"
  (submitColor)="doAddColor($event)">
</color-form>
