<form [formGroup]="carForm">

  <div>
    <label for="make-input">Make:</label>
    <input type="text" id="make-input" formControlName="make">
  </div>

  <div>
    <label for="model-input">Model:</label>
    <input type="text" id="model-input" formControlName="model">
  </div>

  <div>
    <label for="year-input">Year:</label>
    <input type="number" id="year-input" formControlName="year">
  </div>

  <button (click)="submitCar.emit(carForm.value)">{{buttonText}}</button>

</form>
