<div>
  Id: {{car.id}}
</div>
<div>
  Make: {{car.make}}
</div>
<div>
  Model: {{car.model}}
</div>
<div>
  Year: {{car.year}}
</div>
<button type="button" (click)="returnToTable.emit()">Return to Table</button>