<ul>
  <li *ngIf="!items.length">No Items</li>
  <li *ngFor="let listItem of items; let i = index">
    {{listItem.item}}
    <span *ngIf="listItem.toggled">*</span>
    <button *ngIf="i > 0"
            (click)="moveItemUp.emit(listItem.id)">Up
    </button>
    <button *ngIf="i < (items.length - 1)"
            (click)="moveItemDown.emit(listItem.id)">Down
    </button>
    <button (click)="toggleItem.emit(listItem.id)">Toggle</button>
    <button (click)="deleteItem.emit(listItem.id)">Delete</button>
  </li>
</ul>
<button (click)="deleteAllItems.emit()">Clear</button>
